@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    color: white;
    font-family: 'Gugi', cursive;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
}

#title {
    position: absolute;
    top: 4rem;
    font-size: 4rem;
    text-align: center;
}
#icon {
    margin-bottom: 2rem;
    display: none;
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    transition: all ease-in-out;
}

@keyframes bounce {
    from {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    to {
        transform: translateY(0px)
    }
}

#audio {
    visibility: hidden;
}

.play-container {
    position: absolute;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-btn {
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    width: 100px;
    height: 50px;
    z-index: 5;
    margin-bottom: 3rem;
    transition: all .1s ease-in-out;
}

#play-btn:hover {
    cursor: pointer;
    border: 3px solid #0dd3d0;
    color: #0dd3d0;
}

#play-btn:active {
    border: 1px solid #f50083;
    color: #f50083;
}